appdirs==1.4.3
asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
Django==3.1.9
django-debug-toolbar==2.1
django-grappelli==2.13.3
django-nested-inline==0.4.2
django-suit
django-summernote==0.8.11.6
fake-useragent==0.1.11
idna==2.8
lxml==4.4.2
parse==1.14.0
Pillow==7.0.0
pyee==6.0.0
pyppeteer==0.0.25
pyquery==1.4.1
python-slugify==4.0.0
pytz==2019.3
requests==2.22.0
requests-html==0.10.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
text-unidecode==1.3
tqdm==4.41.1
urllib3==1.25.8
w3lib==1.21.0
websockets==8.1
wincertstore==0.2
psycopg2-binary
gunicorn
django-userena-ce
django-elasticsearch-dsl
django-cache-memoize
celery
redis
django-celery-results
django-celery-beat
django-timezone-field==4.0
