{% extends 'news/base.html' %}

{% load static %}


{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-9">
                    <div class="slider_text text-center">
                        <p>The Best Domain & Hosting Provider In The Area</p>
                        <h3>Articles Database</h3>
                        <div class="find_dowmain">
                            <form action="#" class="find_dowmain_form">
                                <input type="text" placeholder="Find your domain">
                                <button type="submit">search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- latest_new_area_start -->
<div class="latest_new_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>
                        Latest News
                    </h3>
                    <p>Your domain control panel is designed for ease-of-use and <br>
                        allows for all aspects of your domains.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for article in last_articles %}
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_news">
                    <div class="thumb">
                        <a href="{% url 'article' article.slug %}">
                            <img src="{{ article.main_image.url }}" alt="">
                        </a>
                    </div>
                    <div class="news_content">
                        <div class="news_meta">
                            <a href="#">{{ article.pub_date }} in
                                <span>{{ article.categories.all.0 }}</span>
                            </a>
                        </div>
                        <h3><a href="{% url 'article' article.slug %}">
                            {{ article.name }}</a></h3>
                        <p class="news_info">{{ article.short_description|truncatewords:15 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- latest_new_area_end -->

{% endblock content %}